@use '../utilities' as *;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: rem(20);
  font-family: var(--main-font);
  background-color: var(--off-white);
  font-size: rem(15);
}
