@use '../utilities' as *;

.aside {
  padding: rem(26) rem(18);
  margin-bottom: rem(61);
  background-color: var(--dark-blue);

  & h2 {
    color: var(--soft-orange);
    font-size: rem(32);
    margin-bottom: rem(37);
  }

  &__article {
    & a {
      color: var(--off-white);

      &:hover {
        color: var(--soft-orange);
      }

      & h3 {
        margin-bottom: rem(14);
      }
    }
    &:hover {
      color: var(--soft-orange);
    }
  }

  &__article:not(:last-child) {
    border-bottom: 1px solid var(--grayish-blue-drk);
    margin-bottom: rem(30);

    & p {
      margin-bottom: rem(34);
    }
  }

  @include breakpoint-up(large) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 3 / 4;
    margin-bottom: 0;
  }
}
