@use '../utilities' as *;

.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(38, 38, 38, 0.6);
  z-index: 2;
}

.overlay.active {
  display: block;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--off-white);
  padding: rem(15) rem(20);

  & .logo img {
    max-width: rem(51);
  }

  &__link {
    color: var(--dark-blue);

    &:hover {
      color: var(--soft-red);
    }
  }

  & .hamburger,
  & .close-hamburger {
    cursor: pointer;
  }

  & .hamburger.active {
    display: none;
  }

  & .close-hamburger {
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
    transition: ease-in 0.3s;
  }

  & .close-hamburger.active {
    display: block;
    z-index: 2;
  }

  & .nav__menu.active {
    display: block;
  }
}

@include breakpoint-down(small) {
  .nav__menu {
    display: none;
    background-color: var(--off-white);
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    text-align: left;
    padding-top: rem(130);
    padding-left: rem(16);
    margin: 0;
    z-index: 2;

    & .nav__list {
      margin: rem(20);
    }
  }
}

@include breakpoint-up(medium) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(45) 0;

    & .logo img {
      max-width: rem(70);
    }

    &__menu {
      display: inline-flex;
      gap: rem(35);
      font-size: rem(15);
      margin: 0;
      padding: 0;
    }

    & .hamburger,
    & .close-hamburger {
      display: none;
      cursor: pointer;
    }
  }
}
